

<div class="row">
  <h3><small>Title:  </small><%= content_tag(:p, @photo.title, class: "title-pop") %>
  <small>User:  </small><%= link_to @photo.user.email, uploads_user_path(@photo.user_id) %></h3>
<div class="row">

<section id="large-photo">
  <div>
    <p><%= image_tag(@photo.picture) %><p>
  </div>
</section>

  <p><%= render 'comments/form' %></p>

  <p><%= render @photo.comments %></p>

<p><%= link_to 'Edit', edit_photo_path(@photo) %> | <%= link_to 'Back', photos_path %> </p>
