<!DOCTYPE html>
<html>
<head>
  <title>Loadnseek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row well topofpage">
    <div class="col-md-4 text-left">
      <p class="loggedin"><% if user_signed_in? %> Logged In</p>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% end %>
    </div>
  <div class="col-md-8 text-left">
    <h4 class="weather"></h4>
  </div>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
